body {
    margin: 0;
}

#lgBtnGrp {
    text-align: center;
    margin: auto;
}

.ui-content {
    padding: 0;
}

.ui-btn {
    padding: 0.5em;
}

#sur1hd {
    margin-left: 10%;
    margin-right: 10%;
    font-family: arial;
}

#iBtn3 {
    font-family: arial;
    font-size: 20px;
    background-color: rgba(0, 108, 250, 1);
    color: white;
    text-shadow: none;
    margin-top: 50%;
    margin-right: 20%;
    margin-left: 20%;
}

#stBtn {
    font-family: arial;
    font-size: 20px;
    background-color: rgba(0, 108, 250, 1);
    color: white;
    text-shadow: none;
    margin-top: 45%;
    margin-right: 20%;
    margin-left: 20%;
}

#wBtn, #iBtn, #iatBtn, #iatBtn2, #surBtn, #sstBtn {
    font-family: arial;
    font-size: 20px;
    background-color: rgba(0, 108, 250, 1);
    color: white;
    text-shadow: none;
    margin-top: 1%;
    margin-right: 20%;
    margin-left: 20%;
}

#asb, #asb1, #asb2, #asb3, #asb4, #asb5, #asb6, #asb7, #asb8, #asb9, #asb9a, #asb10,
#bsb, #bsb1, #bsb2, #bsb3, #bsb4, #bsb5, #bsb6, #csb, #csb1, #csb2, #csb3, #csb4, #csb5,
#csb6, #csb7, #csb8, #csb9, #csb10, #csb11, #csb12, #csb13, #csb14, #csb15, #csb16, #csb17, #sdb, #sDat {
    font-family: arial;
    font-size: 20px;
    background-color: rgba(0, 108, 250, 1);
    color: white;
    text-shadow: none;
    margin-top: 5%;
    margin-right: 20%;
    margin-left: 20%;
}

#csb13 {
    margin-top: 0;
}

#iBtn2, #sBtn2, #iBtn4, #iBtn5, #iBtn6, #iBtn7, #iBtn8, #iBtn9 {
    font-family: arial;
    font-size: 20px;
    background-color: rgba(0, 108, 250, 1);
    color: white;
    text-shadow: none;
    margin-top: 5%;
    margin-right: 10%;
    margin-left: 13%;
}

#iBtn {
    margin-top: 5%;
}

#hBtn {
    font-family: arial;
    background-color: rgba(0, 108, 250, 1);
    color: white;
    text-shadow: none;
    margin-top: 10%;
    margin-left: 25%;
    margin-right: 25%;
}

#dBtn {
    font-family: arial;
    background-color: rgba(0, 108, 250, 1);
    color: white;
    text-shadow: none;
    margin-top: 5%;
    margin-left: 25%;
    margin-right: 25%;
}

#lft, #lft1, #lft2 {
    position: absolute;
    left: 0px;
    background-color: rgba(255, 0, 0, 0.1);
    width: 20%;
    height: 100%;
}

#rgt, #rgt1, #rgt2 {
    position: absolute;
    right: 0px;
    background-color: rgba(0, 0, 255, 0.1);
    width: 20%;
    height: 100%;
}

#lWrd, #rWrd, #lWrd3, #rWrd3 {
    font-family: arial;
    font-size: 45px;
    text-align: center;
    text-shadow: none;
    -webkit-margin-after: 0.1em;
}

#lWrd2, #rWrd2, #lWrd4, #rWrd4 {
    font-family: arial;
    font-size: 45px;
    text-align: center;
    text-shadow: none;
    -webkit-margin-before: 0.1em;
}

#or1, #or2, #or3, #or4 {
    font-family: arial;
    font-size: 30px;
    text-align: center;
    text-shadow: none;
    -webkit-margin-before: 0.1em;
    -webkit-margin-after: 0.1em;
}

#settings, #iat {
    background-color: black !important;
}

.full-width-slider input {
    float: left;
    margin-left: 22%;
}

.full-width-slider .ui-slider-track {
    margin-left: 30%;
    margin-right: 30%;
}

#sld1, #sld2, #sld3, #test {
    text-align: center;
    font-family: arial;
    font-size: 20px;
    margin-top: 5%;
    text-shadow: none;
}

.iStim {
    text-align: center;
    font-family: arial;
    font-size: 45px;
    text-shadow: none;
    margin-top: 60%;
}

.iStim2 {
    text-align: center;
    font-family: arial;
    font-size: 60px;
    text-shadow: none;
    margin-top: 60%;
}

.wng {
    text-align: center;
    font-family: arial;
    font-size: 200px;
    text-shadow: none;
    margin-left: 30%;
    margin-right: 30%;
    margin-top: 29%;
    margin-bottom: auto;
    padding: 0;
    color: red;
}

.welBlk {
    text-align: center;
    font-family: arial;
    font-size: 20px;
    text-shadow: none;
    margin-top: 20%;
}

.welBlk2 > ul {
    display: inline-block;
    text-align: left;
}

.welBlk3 {
    margin-right: 20%;
    margin-left: 17%;
}

.iatTable {
    margin-left: 20%;
    margin-right: 20%;
}

#inBlk li {
    padding-bottom: 10px;
}

#inBlk2 li {
    padding-bottom: 10px;
}

#sinBlk li {
    padding-bottom: 10px;
}

#iat1 {
    margin-left: 10%;
    margin-right: 10%;
    text-align: left;
}

.sur1 {
    text-align: center;
    font-family: arial;
    font-size: 30px;
    margin-top: 5%;
}

.chkbox {
    font-family: arial;
    font-size: 20px;  
    padding-left: 50px;
    padding-top: 20px;
    padding-bottom: 20px;
}

.chkbox1{
    font-family: arial;
    font-size: 20px;  
    padding-left: 50px;
    padding-top: 17px;
    padding-bottom: 17px;
}

.smallTitle {
    font-size: 20px;
}

fieldset.ui-controlgroup {
    margin-right: 20%;
    margin-left: 20%;
}

.ui-input-text {
    margin-left: 35%;
    margin-right: 35%;
}

.standard-text {
    margin-left: 20%;
    margin-right: 20%;
}

#atxt, #a4txt, #a8txt, #a9txt, #b2txt, #b3txt, #c1atxt, #c1btxt, #c2atxt, #c2btxt, #c3atxt, #c3btxt, #c4atxt {
    font-family: arial;
    font-size: 20px;
}

#fBack, #fwrd {
    font-family: arial;
    font-size: 20px;
    background-color: rgba(0, 108, 250, 1);
    color: white;
    text-shadow: none;
}

#navSpc {
    background-color: rgba(0, 108, 250, 1);
}

#a3Tbl {
    font-size: 20px;
}

#a3Slide {
    margin: 0;
}

.full-slide input {
    display: none;
}

.full-slide .ui-slider-track {
    margin-left: 15px;
}

#td1 {
    width: 20%;
    text-align: right;
}

#td2 {
    padding: 0;
    width: 60%;
}

.red_font {
    color: red;
}

.blue_font {
    color: blue;
}

.gold_font {
    color: gold;
}

.green_font {
    color: green;
}

.errmsg {
    font-family: arial;
    font-size: 20px;
    color: red;
}

#erc13 {
    margin-top: 1%;
    margin-bottom: 0;
}

#sWrd, #iWrd {
    margin-left: 20%;
    margin-right: 20%;
}

#numPad {
    text-align: center;
    width: 400px;
    height: 400px;
    margin-left: 184px;
    margin-right: 184px;
    margin-top: 10%;
    margin-bottom: 5%;
}

#keypad {
    text-align: center;
    width: 400px;
    height: 400px;
    margin: 0;
}

#keypad td {
    text-align: center;
    padding: 0;
    height: 25%;
    width: 33%;
}

.num, .zero, .del, .don {
    font-size: 30px;
    height: 100%;
    width: 100%;
    padding-top: 25px;;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    margin: 0;
}

.bTable {
    font-size: 18px;
}

.b1Th {
    vertical-align: bottom !important;
}

.b2Size {
    padding-left: 25%;
    padding-right: 25%;
}

#b2a .ui-input-text {
    margin-top: 20px;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 10px;
}

#b3a .ui-input-text {
    margin-top: 20px;
    margin-bottom: 0;
    margin-left: 50%;
    margin-right: 10px;
}

#c1a .ui-input-text {
    margin-top: 20px;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 10px;
}

#c1b .ui-input-text {
    margin-top: 20px;
    margin-bottom: 0;
    margin-left: 50%;
    margin-right: 10px;
}

#c2a .ui-input-text {
    margin-top: 20px;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 10px;
}

#c2b .ui-input-text {
    margin-top: 20px;
    margin-bottom: 0;
    margin-left: 50%;
    margin-right: 10px;
}

#c3a .ui-input-text {
    margin-top: 20px;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 10px;
}

#c4a .ui-input-text {
    margin-top: 20px;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 10px;
}

.ui-block-a, .ui-block-b {
    text-align: left !important;
}

#b2q, #b3q {
    font-weight: bold;
}