body {
    margin: 0;
}

#lgBtnGrp {
    text-align: center;
    margin: auto;
}

.ui-content {
    padding: 0;
}

.ui-btn {
    padding: 0.5em;
}

#iBtn3 {
    font-family: arial;
    font-size: 20px;
    background-color: rgba(0, 108, 250, 1);
    color: white;
    text-shadow: none;
    margin-top: 50%;
    margin-right: 20%;
    margin-left: 20%;
}

#lgBtn {
    font-family: arial;
    font-size: 20px;
    background-color: rgba(0, 108, 250, 1);
    color: white;
    text-shadow: none;
    margin-top: 45%;
    margin-right: 20%;
    margin-left: 20%;
}

#stBtn, #wBtn, #iBtn, #iatBtn, #iatBtn2 {
    font-family: arial;
    font-size: 20px;
    background-color: rgba(0, 108, 250, 1);
    color: white;
    text-shadow: none;
    margin-top: 1%;
    margin-right: 20%;
    margin-left: 20%;
}

#asb1, #asb2, #asb3 {
    font-family: arial;
    font-size: 20px;
    background-color: rgba(0, 108, 250, 1);
    color: white;
    text-shadow: none;
    margin-top: 5%;
    margin-right: 20%;
    margin-left: 20%;
}

#iBtn2, #sBtn2, #iBtn4, #iBtn5, #iBtn6, #iBtn7, #iBtn8, #iBtn9 {
    font-family: arial;
    font-size: 20px;
    background-color: rgba(0, 108, 250, 1);
    color: white;
    text-shadow: none;
    margin-top: 5%;
    margin-right: 10%;
    margin-left: 13%;
}

#iBtn {
    margin-top: 5%;
}

#hBtn {
    font-family: arial;
    background-color: rgba(0, 108, 250, 1);
    color: white;
    text-shadow: none;
    margin-top: 10%;
    margin-left: 25%;
    margin-right: 25%;
}

#dBtn {
    font-family: arial;
    background-color: rgba(0, 108, 250, 1);
    color: white;
    text-shadow: none;
    margin-top: 5%;
    margin-left: 25%;
    margin-right: 25%;
}

#lft, #lft1, #lft2 {
    position: absolute;
    left: 0px;
    background-color: rgba(255, 0, 0, 0.2);
    width: 20%;
    height: 100%;
}

#rgt, #rgt1, #rgt2 {
    position: absolute;
    right: 0px;
    background-color: rgba(0, 0, 255, 0.2);
    width: 20%;
    height: 100%;
}

#lWrd, #rWrd, #lWrd3, #rWrd3 {
    font-family: arial;
    font-size: 45px;
    text-align: center;
    text-shadow: none;
    -webkit-margin-after: 0.1em;
}

#lWrd2, #rWrd2, #lWrd4, #rWrd4 {
    font-family: arial;
    font-size: 45px;
    text-align: center;
    text-shadow: none;
    -webkit-margin-before: 0.1em;
}

#or1, #or2, #or3, #or4 {
    font-family: arial;
    font-size: 30px;
    text-align: center;
    text-shadow: none;
    -webkit-margin-before: 0.1em;
    -webkit-margin-after: 0.1em;
}

#settings, #iat {
    background-color: black !important;
}

.full-width-slider input {
    float: left;
    margin-left: 22%;
}

.full-width-slider .ui-slider-track {
    margin-left: 30%;
    margin-right: 30%;
}

#sld1, #sld2, #sld3, #test {
    text-align: center;
    font-family: arial;
    font-size: 20px;
    margin-top: 5%;
    text-shadow: none;
}

.iStim {
    text-align: center;
    font-family: arial;
    font-size: 60px;
    text-shadow: none;
    margin-top: 60%;
}

.wng {
    text-align: center;
    font-family: arial;
    font-size: 200px;
    text-shadow: none;
    margin-left: 30%;
    margin-right: 30%;
    margin-top: 29%;
    margin-bottom: auto;
    padding: 0;
    color: red;
}

.welBlk {
    text-align: center;
    font-family: arial;
    font-size: 20px;
    text-shadow: none;
    margin-top: 20%;
}

.welBlk2 > ul {
    display: inline-block;
    text-align: left;
}

.welBlk3 {
    margin-right: 20%;
    margin-left: 17%;
}

.iatTable {
    margin-left: 20%;
    margin-right: 20%;
}

#inBlk li {
    padding-bottom: 10px;
}

#inBlk2 li {
    padding-bottom: 10px;
}

#sinBlk li {
    padding-bottom: 10px;
}

#iat1 {
    margin-left: 10%;
    margin-right: 10%;
    text-align: left;
}

.sur1 {
    text-align: center;
    font-family: arial;
    font-size: 40px;
    margin-top: 15%;
}

.chkbox{
    font-family: arial;
    font-size: 20px;  
    padding-left: 50px;
    padding-top: 20px;
    padding-bottom: 20px;
}

.smallTitle {
    font-size: 20px;
}

fieldset.ui-controlgroup {
    margin-right: 20%;
    margin-left: 20%;
}

.ui-input-text {
    margin-left: 35%;
    margin-right: 35%;
}

.standard-text {
    margin-left: 20%;
    margin-right: 20%;
}

#atxt, #a2txt {
    font-family: arial;
    font-size: 20px;
}

#fBack, #fwrd {
    font-family: arial;
    font-size: 20px;
    background-color: rgba(0, 108, 250, 1);
    color: white;
    text-shadow: none;
}

#navSpc {
    background-color: grey;
}

#a3Tbl {
    font-size: 20px;
}

#a3Slide {
    margin: 0;
}

.full-slide input {
    display: none;
}

.full-slide .ui-slider-track {
    margin-left: 15px;
}

#td1 {
    width: 20%;
    text-align: right;
}

#td2 {
    padding: 0;
    width: 60%;
}

.red_font {
    color: red;
}

.blue_font {
    color: blue;
}

.gold_font {
    color: gold;
}

.green_font {
    color: green;
}

#sWrd, #iWrd {
    margin-left: 20%;
    margin-right: 20%;
}
